@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(244, 260, 245);
}

.view-listing-img {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
